body{
	font-family: 'Rubik', sans-serif;
	margin: 0 auto;
	padding: 0;
	background-color: #F6F6F6;
	color: #0B132A;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

a {
  text-decoration: none;
  color: #505f98;
}

button {
  border: 0;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

.img-container {
  max-width: 100%;
}

.paragraph {
  font-size: var(--font-size-md);
  line-height: 30px;
  color: #4F5665;
  margin-top: 6px;
}


