
body{
	font-family: 'Rubik', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	height: 100vh;
	background: url(../images/hero_illustration.svg) no-repeat right center;
}

.navbar__container {
	position: absolute;
	width:100%;
	padding-top:50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 35px;
}

.navbar__logo{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar__logo-title{
	display: flex;
	margin-left: 10px;
}

.navbar__logo-title-lasles{
	font-weight: 500;
	text-transform: capitalize;
	color: #0B132A;
}

.navbar__logo-title-vpn{
	font-weight: 900;
	text-transform: uppercase;
	color: #0B132A;
}

.navbar__nav ul {
	display: flex;
}

.navbar__nav-item{
	margin: 0 20px 0;
	font-size: 16px;
	color: #4F5665;
	text-decoration: none;
	text-transform: capitalize;
}
.navbar__nav-item:hover{
	transition: 0.5s;
	color:#F53855;
}

.navbar__sign-buttons{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-right: 50px;
}

.navbar__sign-buttons-item{
	text-decoration: none;
	text-transform: capitalize;
}

.navbar__sign-buttons_sign-in{
	color: #0B132A;
	font-weight: 500;
	font-size: 16px;
	margin-right: 30px;
}

.navbar__sign-buttons_sign-in a:visited{
	color:#0B132A;
}

.navbar__sign-buttons_sign-in a:hover{
	color:#F53855;
	transition: 0.5s;
}

.navbar__sign-buttons_sign-up a {
	border: 1px solid #F53855;
	box-sizing: border-box;
	border-radius: 50px;
	padding: 13px 45px;
	text-decoration: none;
	color: #F53855;
}

.navbar__sign-buttons_sign-up a:hover {
	background-color: #F53855;
	color: #fff;
	transition: 0.5s;
}

.hero__container{
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	height: 100vh;
}

.hero__container-title{
	font-weight: 400;
	font-size: 50px;
	margin-bottom: 50px;
	color: #0B132A;
}

.hero__container-title span, .hero__container-info span {
	font-weight: 500;
}

.hero__container-info{
	color: #4F5665;
}

.hero__container-btn{
	height: 60px;
	width: 250px;
	font-weight: 500;
	color: #fff;
	background-color: #F53838;
	border-radius: 10px;
	border: none;
	margin-top: 50px;
}
.hero__container-btn:hover {
	transition: 0.5s;
	color: #F53838;
	background-color: #fff;
	border: #F53838 solid 1px;
}

.features{
	height: 100vh;
	background: linear-gradient(180deg, #F6F5F5 -45.04%, #FFFFFF 19.67%, #F4F3F3 88.56%);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.features__cont{
	display: flex;
	flex-direction: column;
}

.features__cont_title{
	text-transform: capitalize;
	font-weight: 500;
	font-size: 35px;
	color: #0B132A;
	margin-bottom: 25px;
}

.features__cont_info{
	color: #4F5665;
	margin-bottom: 20px;
}



.features__cont_features-list ul{
	display: flex;
	flex-direction: column;
	list-style-image: url(../images/list_bullet.svg);
	list-style-position: inside;
}

.features__cont_features-list li{
	margin: 15px 0 15px;
}

.customers{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.customers__text span{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.customers__text_title{
	font-weight: 500;
	font-size: 35px;
	line-height: 50px;
	color: #0B132A;
	margin-bottom: 10px;
}

.customers__text_info{
	font-size: 16px;
	line-height: 30px;
	color: #4F5665;
	margin-bottom: 60px;
}

.customers__reviews{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.customers__reviews_item{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 2px solid #DDDDDD;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 15px 20px 15px;
	width: 355px;
	max-width: 355px;
	height: 230px;
}
.customers__reviews_item:hover{
	border: 2px solid #F53838;
	transition: 0.5s;
}

.customers__reviews_item_person-data{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	text-decoration: none;
	padding-bottom: 15px;
}
.customers__reviews_item_person-data_img{
	height: 50px;
	width: 50px;
}
.customers__reviews_item_person-data:visited{
	text-decoration: none;
}

.customers__reviews_item_person-data_info{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.customers__reviews_item_person_details{
	margin-left: 15px;
}

.customers__reviews_item_person_name{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #0B132A;
}

.customers__reviews_item_person_location{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	color: #4F5665;
}

.customers__reviews_item_person-data_rating{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.customers__reviews_item_person-data_rating_digit{
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #0B132A;
}

.customers__reviews_item_person-data_rating_logo{
	margin-bottom: 4px;
	margin-left: 5px;
}

.customers__reviews_item_text{
	display: flex;
	flex-direction: column;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	align-items: flex-end;
	justify-content: center;
}















